* {
  background-color: #eeeeee;

}

.margin-text {
  margin-bottom: 75px;
}

.nav-wrapper {
  margin: 0px 2%;
  background-color: #80d8ff;
}

.nav-navigation.text-blue {
  color: #616161;
  background-color: #80d8ff;
  font-family: "rajdhani", sans-serif;
  font-size: 20px;
  padding-left: 20px;
}

.brand-logo.nav-navigation.text-blue {
  font-family: "do hyeon", sans-serif;
  font-size: 40px;
}

.romero-fitness {
  font-family: "do hyeon", sans-serif;
  color: #80d8ff;
  font-size: 60px;
  border: 1px solid #424242;
  background-color: #424242;
  margin-top: 0 !important;
  margin-bottom: 30px !important;
  padding: 30px 10px 20px 30px;
}

.fa-dumbbell {
  background-color: #424242;
}

.workout-type {
margin-left: 200px;
box-shadow: 0 0 5px #424242;
padding: 10px 5px;
font-size: 3em;
font-family: "do hyeon", sans-serif;
color: #424242;
background-color: #80d8ff;
}

.card-image img{
  object-fit: cover;
  width: 100%;
  height: 150px;
  overflow:hidden;
}

.card-title {
font-weight: 600;
font-family: "rajdhani", sans-serif;
color: #80d8ff !important;
background-color: #424242;
height: 50px !important;
}

.card-content {
font-weight: 600;
font-family: "rajdhani", sans-serif;
color: #80d8ff !important;
background-color: #424242 !important;
}

.card-content p{
font-weight: 600;
color: #80d8ff !important;
background-color: #424242 !important;
}

.card-action{
  color: #80d8ff !important;
  background-color: #424242 !important;
}

.lets-go {
font-weight: 600;
font-family: "rajdhani", sans-serif;
color: #80d8ff !important;
background-color: #424242 !important;
}
